---
# Only the main Sass file needs front matter (the dashes are enough)
---


body
{
	font-family: "Helvetica, sans-serif";
}

.clear
{
	clear: both;
}

header
{
	background-color: #3e606f;
	padding: 20px 0px;
}

header .site-title
{
	float: left;
	margin: 0px;
}

.site-title a
{
	text-decoration: none;
	font-weight: 700;
	color: #FCFFF5;
}

header .site-nav
{
	float: right;
}

header .site-nav ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

header .site-nav ul li
{
	display: inline-block;
}

header .site-nav ul a
{
	color: #FCFFF5;
	font-size: 20px;
	display: block;
	padding: 4px 8px;
	text-decoration: none;
}

.wrapper
{
	padding: 0px 40px;
}

main
{
	display: inline-block;
	background-color: #D1DBBD;
	margin: 0px;
}

.posts
{
	list-style-type: none;
	padding: 0px;
}

.posts li
{
	border-bottom: 1px solid black;
}

.posts li:last-child
{
	border: none;
}

.posts li a
{
	text-decoration: none;
	color: #131313;
}

.date
{
	font-size: 60%;
	color: #888;
}

footer
{
	background-color: #192441;
	padding-top: 30px;
	padding-bottom: 30px;
}

footer a
{
	color: #FCFFF5;
}