<footer>

  <div class="wrapper">
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS Feed</a>
      </div>

</footer>